<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseLibS" version="1.6.4.382" targetFramework="net472" />
  <package id="Fizzler" version="1.2.0" targetFramework="net472" />
  <package id="renderingCoreTabs" version="0.0.0.1" targetFramework="net472" />
  <package id="Svg" version="3.2.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Win32Interop.FireDwmapi" version="0.0.0.1" targetFramework="net472" />
  <package id="Win32Interop.FireGdi32" version="0.0.0.1" targetFramework="net472" />
  <package id="Win32Interop.FireKernel32" version="0.0.0.1" targetFramework="net472" />
  <package id="Win32Interop.FireUser32" version="0.0.0.1" targetFramework="net472" />
  <package id="Win32Interop.FireUxtheme" version="0.0.0.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>